 <div class="container-fluid p-0">

  <div class="login-container d-flex align-items-center justify-content-center py-3">
    <div class="login-form">

<!--      <img alt="" class="d-block mx-auto" src="paaCrypto.png">-->
      <h3 class="text-center ">Create Your Account!</h3>
<!--      <p class="text-center text-muted px-3">Create your PAA account to access your dashboard, manage your profile, and-->
<!--        explore more features.</p>-->
      <div class="p-card">

        <app-sp-input [(ngModel)]="user.name" [errorHandler]="errorHandler('name')" placeHolder="Name"
          type="text" id="name" icon="pi pi-user"></app-sp-input>

        <app-sp-input [(ngModel)]="user.email" [errorHandler]="errorHandler('email')" id="email"
          placeHolder="Email" type="text" icon="pi pi-envelope"></app-sp-input>

        <app-sp-input [(ngModel)]="user.userAuth.password" [errorHandler]="errorHandler('password')" id="password"
           placeHolder="Password" type="password" icon="pi pi-lock"></app-sp-input>

        <app-sp-input [(ngModel)]="user.existingPassword" [errorHandler]="errorHandler('existingPassword')"
          id="confirmPassword" placeHolder="Confirm Password" type="password"
          icon="pi pi-lock"></app-sp-input>

        <div *ngIf="otpSent" class="">
          <app-sp-input [(ngModel)]="user.otp" [errorHandler]="errorHandler('otp')" id="otp"
            placeHolder="Enter OTP" type="text"></app-sp-input>
          <small *ngIf="seconds==0" class="large-text px-1 d-inline-block mx-2"><a (click)="generateOTP()">Resend
              Code</a></small>

          <small *ngIf="otpSent && seconds!==0" class="px-1 d-inline-block mx-2">Resend OTP will be available in <small
              class="text-primary">{{ seconds |spNumberFormat }}s</small></small>
        </div>

        <div class="text-center">
          <app-sp-button (click)="proceedToVerification()" [loading]="registerLoadingFlag" label="Register"
            [styleClass]="'large-btn'"></app-sp-button>
        </div>

        <div class="text-center mt-2">
          <p>Already have an account? <a class="large-text text-decoration-none pointer"
              routerLink="/auth/login">Login</a></p>
        </div>
      </div>
    </div>
   </div>
</div>



