<app-sp-progress-bar></app-sp-progress-bar>
<div class="container-fluid p-0">
  <div class="login-container d-flex align-items-center justify-content-center py-3">
   <!-- <div class="row ">
    <div class="col"></div>
    <div class="col p-5 d-flex align-items-center"> -->
       <div class="login-form">
      <h3 class="text-center">Forgot Your Password?</h3>
      <p class="text-center text-muted mb-0 px-3">Enter your verified email address below, and we’ll send you a One-Time
        Password
        (OTP) to reset your account.</p>
      <div class="p-card">

        <div *ngIf="!otpSent" class="">
          <app-sp-input [(ngModel)]="resetPassword.email" autocomplete="on" [errorHandler]="errorHandler('email')"
            id="email" placeHolder="Enter verified email" icon="pi pi-envelope"></app-sp-input>
        </div>

        <div *ngIf="!otpSent" class="text-center">
          <app-sp-button (click)="sendOtp()" [loading]="resetPasswordLoadingFlag" label="Send OTP"
           [styleClass]="'large-btn'"  icon="pi pi-"></app-sp-button>

        </div>
        <div *ngIf="otpSent" class="">
          <app-sp-input [(ngModel)]="resetPassword.otp" [errorHandler]="errorHandler('otp')" id="otp" name="otp"
            placeHolder="Enter the OTP sent to your email" type="text"></app-sp-input>
          <small class="large-text pointer"><a (click)="sendOtp()">Resend Code</a></small>
        </div>

        <div *ngIf="otpSent" class="">
          <app-sp-input [(ngModel)]="resetPassword.password" [errorHandler]="errorHandler('password')" id="password" placeHolder="New Password" [type]="'password'" icon="pi pi-lock"></app-sp-input>
        </div>

        <div *ngIf="otpSent" class="">
          <app-sp-input [(ngModel)]="resetPassword.confirmPassword" [errorHandler]="errorHandler('confirmPassword')"
            id="confirmPassword" [type]="'password'" placeHolder="Confirm Password" icon="pi pi-lock"></app-sp-input>
        </div>

        <div *ngIf="otpSent" class="text-center">
          <app-sp-button (click)="reset()" [loading]="resetPasswordLoadingFlag" label="Submit" styleClass="S_Button L_Button"></app-sp-button>
        </div>
        <div class="text-center mt-1">
          <p>Already have an account? <a class="large-text text-decoration-none pointer"
              routerLink="/auth/login">Login</a></p>
        </div>
      </div>
    </div>

</div>
